<div class="showcase">
    <div class="img-container">
        <img src="assets/images/home-page.jpg" />
    </div>
</div>

<div class="about">
    <div class="container-fluid">
        <div class="row">

            <h2> Find your table for any occasion </h2>

            <div class="padding-medium"></div>

            <div class="col-md-6">
                <div class="img-styling">
                    <div class="row">
                        <div class="col-md-4">
                            <img class=" lazyloaded" class="img-thumbnail"
                                data-src="/images/le-chamarel-restaurant/170X165/le-pavillon-de-case-noyale-lcr.jpg"
                                height="165px" width="170" alt="Le Pavillon de Case Noyale"
                                src="assets/images/buffet.jpg">
                        </div>
                        <div class="col-md-4">
                            <img class=" lazyloaded" class="img-thumbnail"
                                data-src="/images/le-chamarel-restaurant/optimized-images/170X165/chamarel-restaurant-morning-coffee-experience.jpg"
                                height="165px" width="170" alt="Le Chamarel Morning Coffee Experience "
                                src="assets/images/buffet.jpg">
                        </div>
                        <div class="col-md-4">
                            <img class=" lazyloaded" class="img-thumbnail"
                                data-src="/images/le-chamarel-restaurant/optimized-images/170X165/la-tab-diri-le-chamarel-restaurant.jpg"
                                height="165px" width="170" alt="Le Chamarel Tab’Diri" 
                                src="assets/images/buffet.jpg">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <img class=" lazyloaded" class="img-thumbnail"
                                data-src="/images/le-chamarel-restaurant/optimized-images/170X165/afternoon-rhumtails-chamarel-restaurant.jpg"
                                height="165px" width="170" alt="Afternoon Rhumtails" 
                                src="assets/images/buffet.jpg">
                        </div>
                        <div class="col-md-4">
                            <img class=" lazyloaded" class="img-thumbnail"
                                data-src="/images/le-chamarel-restaurant/optimized-images/170X165/sunday-longest-lunch-chamarel-restaurant.jpg"
                                height="165px" width="170" alt="Mauritius’ Longest Sunday Lunch"
                                src="assets/images/buffet.jpg">
                        </div>
                        <div class="col-md-4">
                            <img class=" lazyloaded" class="img-thumbnail"
                                data-src="/images/le-chamarel-restaurant/optimized-images/170X165/le-chamarel-seggae-supper-club.jpg"
                                height="165px" width="170" alt="Le Chamarel Seggae Supper Club "
                                src="assets/images/buffet.jpg">
                        </div>
                    </div>
                    <div class="row" >
                        <div class="col-md-4">
                            <img class=" lazyloaded" class="img-thumbnail" 
                                data-src="/images/le-chamarel-restaurant/optimized-images/170X165/wedding-and-events-le-chamarel-restaurant.jpg"
                                height="165px" width="170" alt="Weddings &amp; Events"
                                src="assets/images/buffet.jpg">
                        </div>
                        <div class="col-md-4">
                        </div>
                        <div class="col-md-4">
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a dignissim felis. Aenean at dolor
                    euismod, ultrices risus at, cursus nibh. Aenean convallis tempus ligula, vel scelerisque est
                    facilisis in. Vivamus imperdiet urna et justo porttitor pulvinar. Ut convallis ipsum augue, quis
                    mattis lectus tincidunt non. Praesent ipsum ipsum, sagittis eget nunc in, pharetra fermentum
                    urna.
                    Maecenas interdum nunc vel magna sollicitudin congue vel vel nunc. Nullam elementum est in
                    turpis
                    porta, a consequat nisi interdum. Integer sodales volutpat sapien efficitur porttitor. Curabitur
                    pellentesque cursus elementum.</p>
                <p>Duis fringilla id velit sed fringilla. Fusce elementum gravida ex sit amet hendrerit. Nam
                    sodales,
                    leo eu laoreet luctus, mauris libero facilisis felis, non varius mi nisi id sapien. Curabitur
                    rutrum
                    nisi massa, et porttitor justo sollicitudin at. Nunc elementum ante urna, et viverra augue
                    fermentum
                    a. Vestibulum nec elementum nibh. Curabitur velit sapien, vestibulum pulvinar lorem ut, aliquet
                    ultricies massa.</p>
            </div>

        </div>
    </div>
</div>

<div class="padding-large"></div>