<header class="nav-content">
    <div class="logo" style="cursor: pointer;">
        <h4 routerLink="/">OpenTable</h4>
    </div>
    <div>
        <ng-container *ngIf="services.currentUser$ | async">
            <div class="auth">
                <button type="button" class="sign-up" (click)="logout()">Log Out</button>
            </div>
        </ng-container>
        <ng-container *ngIf="(services.currentUser$ | async) === null">
            <div class="auth">
                <button class="sign-up" routerLink="/signup">Sign Up</button>
                <button class="sign-in" routerLink="/signin">Sign In</button>
            </div>
        </ng-container>
    </div>
    <!-- <ul class="navbar-nav me-auto">
        <ng-container *ngIf="services.currentUser$ | async">
            <li class="nav-item">
                <a class="nav-link" routerLink='/members' routerLinkActive='active' >Matches</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink='/lists' routerLinkActive='active'>Lists</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink='/messages'routerLinkActive='active' >Messages</a>
            </li>
            <li *appHasRole='["Admin", "Moderator"]' class="nav-item">
                <a class="nav-link" routerLink='/admin'routerLinkActive='active' >Admin</a>
            </li>
        </ng-container>
        <li class="nav-item">
            <a class="nav-link" routerLink='/errors'routerLinkActive='active' >Errors</a>
        </li>
    </ul> -->
</header>